DISCORD_TOKEN=
DISCORD_TEST_GUILD_ID=
DATABASE_PATH=data/maid_discord_bot.sqlite3

FT_CLIENT_ID=
FT_CLIENT_SECRET=
FT_REDIRECT_URI=http://localhost:8000/oauth/42/callback
FT_SCOPES=public
FT_STATE_SECRET=
